**2 Iterations**

| Test case ID | Name of the person  who run test | pass/fail | comments                                              |
|--------------|----------------------------------|-----------|-------------------------------------------------------|
|     UI001    |              vivekananda         |     Pass  |           Need valid username and password            |
|     UI002    |              vivekananda         |     fail  |    We can not see the Hello Username  In home page    |
|     UI003    |              vivekananda         |     pass  |               username box is displayed               |
|     UI004    |              vivekananda         |     pass  |                password box is displayed              |
|     UI005    |              vivekananda         |    pass   |              “Sign In” button is present.             |
|     UI006    |             Vivekananda          |    pass   |              “Sign up” button is present.             |
|     UI007    |             vivekananda          |    fail   |        There is forgotten password link/button        |
|     FT001    |                jay               |    pass   |        Need to give valid Username and password       |
|     FT002    |                 jay              |    pass   |              “Submit” button is clickable             |
|     FT003    |                jay               |    pass   |                cancel button is working               |
|     FT004    |                jay               |    pass   |      the login page accepts the user’s credentials    |
|     FT005    |                jay               |    pass   |      login message should display with thank you      |
|     FT006    |                jay               |    pass   | user enters valid credentials for an existing account |
|     FT007    |                jay               |    pass   |                 In valid  credentials                 |
|     FT008    |                jay               |    pass   |  Error message is displayed                           |
|     FT009    |                jay               |    pass   |                   User cannot login                   |
|     FT010    |                jay               |    pass   | User name field is too short username box will be red |
|     FT011    |                jay               |    pass   |      password should be minimum eight characters      |
|     FT012    |                jay               |    pass   |            minimum 8 characters in length             |
|     FT013    |                jay               |    pass   |               password box will be red                |
|     FT014    |                jay               |    pass   |     Caps Lock key is enabled during password entry    |
|     FT015    |                jay               |    pass   |     Num Lock key is enabled during password entry.    |
|     FT016    |                jay               |    pass   |     Verification system does not accept passwords     |
|              |                                  |           |                                                       |
|    API001    |               prem               |      |                                  |
|    API002    |               prem               |      |             |
|    API003    |               prem               |      |                            |
|    API004    |               prem               |       |                                      |
|    API005    |               prem               |      |                                          |
|    API006    |               prem               |      |                                |         |                                  |           |                                                       |
|     DA001    |            vivekananda           |    pass   |                 available in database                 |
|     DA002    |            vivekananda           |    pass   |                the data is saving or not              |
