.logoTitle{
    color : rgb(12, 155, 222);
    margin-top: 5%;
  
 }
 .userName{
   color : white;
   text-decoration: none;
   /* position : fixed;
   right : 0;
   border : 5;
   margin-top: 40px; */
   margin : -3px
 }
 #logo_link{
    text-decoration: none;
 }
 .signinButton{
   position : fixed;
   right : 0;
   border : 0;
   margin-top: -25px;
 }
 .signin_section{
    display: flex;
    justify-content: center;
 }
 .sign_in_form{
    margin-top : 150px;
    align-self: center;
    width : 300px
 }
 .signup_button{
    margin-bottom : 2px;
    margin-left : 3px
 }
 .submit_button{
    display: flex;
    padding: 20px;
 }
 #cancel_button{
    float: left;
 
 
 }
 #submit_button{
    float: right;
    margin-left: 100px;
 }

 .modalButton{
   position: relative;
   float : right;
   margin: 0.5%;
 }
 .modal_cancel{
   position: relative !important;
   float : left !important;
   margin: 0.5%;
 }

 .main_container{
   background-color: rgb(230, 238, 230);
 }
#wlecome {
   margin-top: 15%;
   margin-left: 35%
}
 
.userHandle_buttons{
   position: fixed;
   padding: 10px;
   height: 200px;
}


.home_container{
   height:90vh   ;
   overflow: hidden;
   padding: 20px;
}
/* .news_modules{
   cursor: pointer;
border: solid 1px white;
padding: 15px;
background-color: white;
color: rgb(21, 21, 112);
font-family: verdana;
margin : 10px;

} */
.news_details{
  background-color: white;
  color: black;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  margin : 10px;
}

.refresh{
   margin: 5px
}
.settings{
margin: 5px;
position : absolute;
right : 0;
border : 5;
}

.side_space{
   background-color: white;
   margin-top: 11px;
}

.pagination{
   margin-left : 45%;
   margin-top: 1%;
}

